.tasks {
    width: 470px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(236, 238, 238);
    border-radius: 10px;
    font-size: 30px;
    border: 1px solid rgb(111, 111, 114);
    text-align: center;
    padding: 10px;
}

.input {
    width: 400px;
    height: 50px;
    border-radius: 10px
}

.btn {
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5px;
    width: 50px;
    border-radius: 10px;

}